/* Element styles */
body {
    margin: 0;
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 14px;
    color: #323232;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
    color: #E6E6E6;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

button {
    height: 24px;
    width: 96px;
    background-color: #CCCCCC;
    margin-left: 8px;
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 14px;
    color: #323232;
    border: 0;
    padding: 0;
}

    button:disabled {
        color: #F2F2F2;
    }

    button:hover {
        color: #F2F2F2;
        background-color: #323232;
    }

    button:disabled:hover {
        background-color: #CCCCCC;
    }

/* Layout styles */
.contentRoot {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: absolute;
}

    .contentRoot > div {
        flex: 1;
    }

.headerPanel {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    min-height: 152px;
    min-width: 704px;
    position: relative;
}

    .headerPanel h1 {
        position: absolute;
        bottom: 0;
        margin: 8px 16px;
    }

.contentPanel {
    display: flex;
    flex-direction: row;
}

    .contentPanel > div {
        flex: 1;
        width: 50%;
    }

    .contentPanel h2 {
        margin-left: 16px;
        margin-top: 11px;
        margin-bottom: 0px;
    }

.descriptionPanel {
    width: 50%;
    background-color: #F2F2F2;
}

    .descriptionPanel p {
        margin: 13px 16px;
    }

.contactsPanel {
    background-color: #E6E6E6;
}

    .contactsPanel > div {
        margin-left: 8px;
    }

    .contactsPanel .contacts {
        margin-top: 5px;
    }

    .contactsPanel .buttons {
        margin-top: 32px;
    }

.contact {
    width: 224px;
    height: 64px;
    display: flex;
    flex-direction: row;
}

    .contact img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 8px;
    }

    .contact .contactDetails {
        margin: 8px 0px;
        display: flex;
        flex-direction: column;
    }

        .contact .contactDetails .contactName {
            font-weight: 600; /* Semibold */
            line-height: 21px;
            font-size: 16px;
            display: inline-block;
        }

        .contact .contactDetails .pinIcon {
            font-family: 'Segoe UI Symbol';
            margin-left: 8px;
            cursor: pointer;
        }

    .contact.pinned .contactDetails .pinIcon:before {
        content: "\E141";
    }

    .contact.pinned .contactDetails .pinIcon:hover:before {
        content: "\E196";
    }

    .contact.selected {
        background-color: #D8D8EB;
    }

/* UI Templates should not be displayed */
#templates {
    display: none;
}
