#contentRoot {
    font-family: 'Segoe UI';
    width: 100%;
    height: 100%;
    text-align: center;
}

#headerPanel {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 20pt;
}

/* New or Edit Current Contact Panel */
#currentContactPanel {
    margin-top: 48px;
    margin-bottom: 48px;
    display: inline-block;
    text-align: left;
}

    #currentContactPanel #contentWrapper {
        border: 1px solid black;
    }

    #currentContactPanel #newOrEditIndicator {
        width: 100%;
    }

    #currentContactPanel #contactPicPanel {
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    #currentContactPanel #contactDetailsPanel {
        display: inline-block;
    }

        #currentContactPanel #contactDetailsPanel #contactName div {
            display: inline-block;
        }

/* Contact Commands Panel */
#contactCommandsPanel {
    display: inline-block;
    width: 90vw;
    text-align: center;
}

    #contactCommandsPanel div {
        display: inline-block;
    }

    #contactCommandsPanel #contactOptionsPanel {
        float: left;
    }

    #contactCommandsPanel #contactSelectionOptionsPanel {
    }

    #contactCommandsPanel #contactCollectionOptionsPanel {
        float: right;
    }

/* Contact Collection Panel */
#contactCollectionPanel {
    width: 90vw;
    height: auto;
    display: inline-block;
}

    #contactCollectionPanel #contactCollectionEmptyState {
    }

    #contactCollectionPanel #contactCollectionContent #contactTemplate {
        display: inline-block;
        width: 200px;
        height: 250px;
        text-align: center;
        margin: 4px;
        padding: 12px;
        background-color: transparent;
    }

        #contactCollectionPanel #contactCollectionContent #contactTemplate.selected {
            background-color: lightgray;
        }

        #contactCollectionPanel #contactCollectionContent #contactTemplate.focused {
            border: 3px solid black;
            margin: -3px;
        }

.hidden {
    display: none;
}

.error {
    border-color: red;
}
